<body>
<h1>WEATHER CONDITIONS</h1>
  <form action="/" method="POST">
  <div class="form-group">
    <label for="location">Location:</label>
    <input type="text" class="form-control" name="location" placeholder="type in city or latitude/longitude">
  </div>
  <button>Submit</button>
  </form>
</body>
